#o-home{
    position: relative;
    max-width:700px;
    margin:0 auto;
    padding:180px 100px 100px 100px;

    .headline1{
        width:63%;
        margin:0 auto;
    }
    .o-eltjek{
        position: absolute;
        width: 100%;
        top:45px;
        left:0;
        text-align: center;
        font-family: $font-bold;
    } 
    .o-eltjek-circle{
        position: relative;
        width:42px;
        height:42px;
        background-color: $yellow;
        border-radius: 100px;
        left: calc(50% - 21px);
        padding-top:12px;
        margin-bottom:10px;

        img{
            vertical-align: top;
        }
    }

    

    .o-house-options{
        .o-house-container{
            position: relative;
            height: 119px;
        }

         img{
            height: 115px;
        }

        .o-sun{
            position: absolute;
            left:10px;
            width:40%;
            height:40%;
            top:-40px;

             -webkit-animation: SUN 25s infinite linear; /* Safari 4+ */
            -moz-animation:    SUN 25s infinite linear; /* Fx 5+ */
            -o-animation:      SUN 25s infinite linear; /* Opera 12+ */
            animation:         SUN 25s infinite linear; /* IE 10+, Fx 29+ */
        }
        

        .cloud1{
            position: absolute;
            top:-40px;
            right:40px;
            width:46px;
            height:29px;
            z-index: 0;

            -webkit-animation: CLOUD1 6s infinite linear; /* Safari 4+ */
            -moz-animation:    CLOUD1 6s infinite linear; /* Fx 5+ */
            -o-animation:      CLOUD1 6s infinite linear; /* Opera 12+ */
            animation:         CLOUD1 6s infinite linear; /* IE 10+, Fx 29+ */
        }

        .cloud2{
            position: absolute;
            width:41px;
            height:27px;
            z-index: 0;
            top:-10px;
            right:150px;
            -webkit-animation: CLOUD2 6s infinite linear; /* Safari 4+ */
            -moz-animation:    CLOUD2 6s infinite linear; /* Fx 5+ */
            -o-animation:      CLOUD2 6s infinite linear; /* Opera 12+ */
            animation:         CLOUD2 6s infinite linear; /* IE 10+, Fx 29+ */
        }
        .o-building{
            position: absolute;
            z-index: 9;
            left:calc(50% - 68px);
        }

        margin-top:70px;
        display: flex;
        .o-house-option{
            width: 50%;
        }

        .o-btn{
            display: inline-block;
            width:170px;
        }

        .o-block{
            margin-bottom:20px;
        }
    }
}


@-webkit-keyframes CLOUD1 {
  0%   { right:70px; opacity:0 }
  10%   { opacity:1 }
  90%   { opacity:1 }
  100% { right: 170px; opacity: 0; }
}
@-moz-keyframes CLOUD1 {
  0%   { right:70px; opacity:0 }
  10%   { opacity:1 }
  90%   { opacity:1 }
  100% { right: 170px; opacity: 0; }
}
@-o-keyframes CLOUD1 {
  0%   { right:70px; opacity:0 }
  10%   { opacity:1 }
  90%   { opacity:1 }
  100% { right: 170px; opacity: 0; }
}
@keyframes CLOUD1 {
  0%   { right:70px; opacity:0 }
  10%   { opacity:1 }
  90%   { opacity:1 }
  100% { right: 170px; opacity: 0; }
}




@-webkit-keyframes CLOUD2 {
  0%   { right:20px; opacity:0 }
  10%   { opacity:1 }
  90%   { opacity:1 }
  100% { right: 160px; opacity: 0; }
}
@-moz-keyframes CLOUD2 {
  0%   { right:20px; opacity:0 }
  10%   { opacity:1 }
  90%   { opacity:1 }
  100% { right: 160px; opacity: 0; }
}
@-o-keyframes CLOUD2 {
  0%   { right:20px; opacity:0 }
  10%   { opacity:1 }
  90%   { opacity:1 }
  100% { right: 160px; opacity: 0; }
}
@keyframes CLOUD2 {
  0%   { right:20px; opacity:0 }
  10%   { opacity:1 }
  90%   { opacity:1 }
  100% { right: 160px; opacity: 0; }
}



@-webkit-keyframes SUN {
  0%   { transform:rotate(0deg) }
  100% { transform:rotate(360deg) }
}
@-moz-keyframes SUN {
  0%   { transform:rotate(0deg) }
  100% { transform:rotate(360deg) }
}
@-o-keyframes SUN {
  0%   { transform:rotate(0deg) }
  100% { transform:rotate(360deg) }
}
@keyframes SUN {
  0%   { transform:rotate(0deg) }
  100% { transform:rotate(360deg) }
}





/* TABLET PORTRAIT */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  
}

/* TABLET LANDSCAPE */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  
}

/* PHONE LANDSCAPE */
@media only screen and (max-device-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #o-home{
        max-width:100%;
        padding:100px 20px 70px 20px;
        
        .o-house-options{
             img{
                 height: 105px;
             }
            .o-btn{
                width:150px;
                padding: 14px 10px;
            }
        }
    }

}

/* PHONE PORTRAIT */
@media only screen and (max-device-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  
  #o-home{
        max-width:100%;
        padding:130px 20px 70px 20px;
        
        .o-house-options{
             img{
                 height: 105px;
             }
            .o-btn{
                width:150px;
                padding: 14px 10px;
            }
        }
    }
}


