#o-home{
    position: relative;
    max-width:700px;
    margin:0 auto;
    padding:180px 100px 100px 100px;

    .headline1{
        width:63%;
        margin:0 auto;
    }
    .o-eltjek{
        position: absolute;
        width: 100%;
        top:45px;
        left:0;
        text-align: center;
        font-family: $font-bold;
    } 
    .o-eltjek-circle{
        position: relative;
        width:42px;
        height:42px;
        background-color: $yellow;
        border-radius: 100px;
        left: calc(50% - 21px);
        padding-top:12px;
        margin-bottom:10px;

        img{
            vertical-align: top;
        }
    }
    .o-house-options{

         img{
            height: 115px;
        }

        margin-top:50px;
        display: flex;
        .o-house-option{
            width: 50%;
        }

        .o-btn{
            display: inline-block;
            width:170px;
        }

        .o-block{
            margin-bottom:20px;
        }
    }
}



/* TABLET PORTRAIT */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  
}

/* TABLET LANDSCAPE */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  
}

/* PHONE LANDSCAPE */
@media only screen and (max-device-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #o-home{
        max-width:100%;
        padding:100px 20px 70px 20px;
        
        .o-house-options{
             img{
                 height: 105px;
             }
            .o-btn{
                width:150px;
                padding: 14px 10px;
            }
        }
    }

}

/* PHONE PORTRAIT */
@media only screen and (max-device-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  
  #o-home{
        max-width:100%;
        padding:130px 20px 70px 20px;
        
        .o-house-options{
             img{
                 height: 105px;
             }
            .o-btn{
                width:150px;
                padding: 14px 10px;
            }
        }
    }
}


