.o-headline1{
    font-family: $font-bold;
    color:$black;
    font-size:40px;
    line-height: 1.2;
}

.o-headline2{
    font-family: $font-bold;
    color:$black;
    font-size:25px;
}

.o-headline3{
    font-family: $font-bold;
    color:$black;
    font-size:21px;
}

