$font-regular: 'OrstedSansRegular', Helvetica, sans-serif;
$font-bold: 'OrstedSansBold', Helvetica, sans-serif;
$font-light: 'OrstedSansLight', Helvetica, sans-serif;
$blue: #4099da;
$black: #3b4956;
$red: #e85757;
$purple: #644c76;
$green: #8ecdc8;
$yellow: #fdd779;
$sand: #d8d1ca;
$dark-sand: #B7ADA5;
$grey: #f3f3f3;
$white: #ffffff;

$environment: 'prod'; // prod or test 